 <footer>
    <a href="#" id="link-top" title="Butonul care te duce la începutul paginii">
        <div id="container-sageata">
            <span>&#129081;</span>
        </div>
    </a>

    <address id="contact">
        <strong>SportXtreme Sediu Central</strong><br>
        <a href="https://maps.google.com" target="_blank">Strada Academiei, Nr. 14, București (FMI)</a><br>
        Tel: <a href="tel:+40712345678">0712 345 678</a><br>
        Email: <a href="mailto:office@sportxtreme.ro">office@sportxtreme.ro</a><br>
        WhatsApp: <a href="https://wa.me/40712345678">Contact Rapid WhatsApp</a>
    </address>

    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8471190201233!2d26.0971050766158!3d44.43632940141151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff46cd96489f%3A0xc4864f16a048747a!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1700000000000!5m2!1sro!2sro" 
        width="100%" 
        height="150" 
        style="border:0; margin-top: 15px;" 
        allowfullscreen="" 
        loading="lazy">
    </iframe>

    <p><small>© 2026 SportXtreme. Toate drepturile rezervate. Pagina creată: <time datetime="2026-03-10">10 Martie 2026</time></small></p>
</footer>
</body>
</html>