<header>
    <hgroup>
        <h1><i class="fas fa-dumbbell fa-spin"></i> SportXtreme</h1>
        <p class="slogan-site">Performanță la orice pas - Echipament sportiv de top</p> 
    </hgroup>
            <nav>
    <div id="hamburger"> <span></span><span></span><span></span>
    </div>
    <ul class="meniu-principal">
        <li><a href="index.html"><i class="fas fa-home"></i> <span class="text-acasa">Acasă</span></a>
            <ul class="submeniu">
                <li><a href="galerie.html">Galerie Statică</a></li>
                <li><a href="galerie-dinamica.html">Galerie Dinamică</a></li>
            </ul>
        </li>
        <li><a href="#tabel-preturi"><i class="fas fa-dumbbell"></i> <span>Produse</span></a>
            <ul class="submeniu">
                <li><a href="#tabel-preturi">Tabel Tarife</a></li>
                <li><a href="#diverse">Resurse Video</a></li>
            </ul>
        </li>
        <li><a href="#contact"><i class="far fa-envelope"></i> <span>Contact</span></a>
    </ul>
</nav>
            
    </header>